<h2>Total spending: £<%= "%.2f" % @total %></h2>

<p>Manage: <a href="/budgets">Budgets</a> <a href="/tags">Tags</a> <a href="/merchants">Merchants</a></p>

<p>
  Filter transactions by tag:
  <% for tag in @tags %>
  <a href="/transactions/<%= tag.tag_name %>"><%= tag.tag_name%></a>
  <% end %>
</p>
<p>
  Filter transactions by budget:
  <% for budget in @budgets %>
  <a href="/budgets/<%= budget.id %>"><%= budget.budget_name %></a>
  <% end %>
</p>

<% for transaction in @transactions %>
  <p><%= transaction.display_date %> <%= transaction.display_time %> </p>
  <p><%= transaction.tag().tag_name %></p>
  <p><%= transaction.merchant().merchant_name %></p>
  <p>£<%= "%.2f" % transaction.amount %></p>
  <p>Budget: <%= transaction.budget().budget_name %></p>
  <p><a href="/transactions/<%= transaction.id %>/edit">Edit</a></p>
  <form action="/transactions/<%= transaction.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <hr />
<% end %>

<a href="/transactions/new">Add new transaction</a>
