<header>
  <h2>Total: £<%= "%.2f" % @total %></h2>
</header>

<nav>
  <ul>
    <li class="dropdown">View by budget
      <ul class="dropdown-content">
        <% for budget in @budgets %>
        <li><a href="/budgets/<%= budget.id %>"><%= budget.budget_name %></a></li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown">View by tag
      <ul class="dropdown-content">
        <% for tag in @tags %>
        <li><a href="/transactions/<%= tag.tag_name %>"><%= tag.tag_name%></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</nav>

<main>
  <div class="transactions header">
    <p class="item">Time</p>
    <p class="item">Date</p>
    <p class="item">Tag</p>
    <p class="item">Merchant</p>
    <p class="item">Amount</p>
    <p class="item">Budget</p>
    <p class="item">Edit</p>
    <p class="item">Delete</p>
  </div>

  <% for transaction in @transactions %>
  <div class="transactions">
    <p class="item"><%= transaction.display_time %></p>
    <p class="item"><%= transaction.display_date %> </p>
    <p class="item"><%= transaction.tag().tag_name %></p>
    <p class="item"><%= transaction.merchant().merchant_name %></p>
    <p class="item">£<%= "%.2f" % transaction.amount %></p>
    <p class="item"><%= transaction.budget().budget_name %></p>
      <p>
        <a href="/transactions/<%= transaction.id %>/edit">
        <img src="/icons/edit.png" alt="edit" height="38px">
        </a>
      </p>
      <form action="/transactions/<%= transaction.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </div>
    <% end %>

    <p id="new-trans-bttn"><a href="/transactions/new">Add new transaction</a></p>
    <h4>Manage:</h4>
    <p class="manage-bttns">
      <a href="/budgets">Budgets</a>
      <a href="/tags">Tags</a>
      <a href="/merchants">Merchants</a>
    </p>
</main>
