<h2>Total spent: £<%= "%.2f" % @total %></h2>

<p>
  Order transactions by date:
  <a href="/transactions/sortbydateasc">Ascending</a>
  <a href="/transactions/sortbydatedesc">Descending</a>
</p>
<p>
  Filter transactions by tag:
  <% for tag in @tags %>
  <a href="/transactions/<%= tag.tag_name %>"><%= tag.tag_name%></a>
  <% end %>
</p>

<% for transaction in @transactions %>
  <p><%= transaction.display_date %> <%= transaction.display_time %> </p>
  <p><%= transaction.tag().tag_name %></p>
  <p><%= transaction.merchant().merchant_name %></p>
  <p>£<%= "%.2f" % transaction.amount %></p>
  <p>Budget: <%= transaction.budget().budget_name %></p>
  <p><a href="/transactions/<%= transaction.id %>/edit">Edit</a></p>
  <form action="/transactions/<%= transaction.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <hr />
<% end %>

<a href="/transactions/new">Add new transaction</a>
