<h2>Total spent: £<%= "%.2f" % @total %></h2>

<% for transaction in @transactions %>
  <p><%= transaction.tag().tag_name %></p>
  <p><%= transaction.merchant().merchant_name %></p>
  <p>£<%= "%.2f" % transaction.amount %></p>
  <p><a href="/transactions/<%= transaction.id %>/edit">Edit</a></p>
  <form action="/transactions/<%= transaction.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <hr />
<% end %>

<a href="/transactions/new">Add new transaction</a>
