<header>
  <h1>Add new transaction</h1>
</header>

<main>
  <form action="/transactions" method="post">
    <label for="transaction-time">
      Select a time and date:
      <input type="datetime-local" name="transaction_time">
    </label>

    <br>
    <br>

    <label for="tag-id">
      Select a tag:
      <select name="tag_id" id="tag-id">
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.tag_name %></option>
        <% end %>
      </select>
    </label>

    <label for="merchant-id">
      Select a merchant:
      <select name="merchant_id" id="merchant-id">
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.merchant_name %></option>
        <% end %>
      </select>
    </label>

    <label for="budget-id">
      Select a budget:
      <select name="budget_id" id="budget-id">
        <% for budget in @budgets %>
        <option value="<%= budget.id %>"><%= budget.budget_name %></option>
        <% end %>
      </select>
    </label>

    <br>
    <br>

    <label for="amount">
      Enter an amount: £
      <input type="number" name="amount" step="0.01" required>
    </label>

    <input type="submit" value="Add">
    <a href="/transactions">Cancel</a>
  </form>

  <p class="manage-bttns">
    <a href="/budgets">Budgets</a>
    <a href="/tags">Tags</a>
    <a href="/merchants">Merchants</a>
  </p>
</main>
