<header>
  <h2>
    <img src="/icons/wallet.png" alt="wallet" height="40px">
    <%= @budget.budget_name %>
  </h2>
</header>

<main>
  <% if @budget.reached_warning_limit?() %>
  <p id="warning-message">
    <img src="/icons/warning_white.png" alt="warning" height="25px">
    Budget has reached warning limit!
  </p>
  <% end %>

  <div class="budget-summary">
    <p>Budget amount: £<%="%.2f" % @budget.budget_amount %></p>
    <p>Warning limit: £<%="%.2f" % @budget.warning_limit %></p>
    <p>Amount spent: £<%="%.2f" % @budget.total_spent() %></p>
    <p>Amount remaining: £<%="%.2f" % @budget.amount_remaining() %></p>
  </div>

  <hr />

  <% if @budget.transactions() != 0 %>
  <nav>
    <ul>
      <li class="dropdown">
        <img src="/icons/date.png" alt="edit" height="25px">
        Order by Date
        <ul class="dropdown-content">
          <li><a href="/budgets/<%= @id %>/asc">Ascending</a></li>
          <li><a href="/budgets/<%= @id %>/desc">Descending</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="filtered-transactions header">
    <p class="item">Time</p>
    <p class="item">Date</p>
    <p class="item">Merchant</p>
    <p class="item">Tag</p>
    <p class="item">Amount</p>
    <p class="item">Edit</p>
    <p class="item">Delete</p>
  </div>

    <% for transaction in @transactions %>
    <div class="filtered-transactions">
      <p class="item"><%= transaction.display_time %></p>
      <p class="item"><%= transaction.display_date %></p>
      <p class="item"><%= transaction.merchant().merchant_name %></p>
      <p class="item"><%= transaction.tag().tag_name %></p>
      <p class="item">£<%= "%.2f" % transaction.amount %></p>
      <p>
        <a href="/transactions/<%= transaction.id %>/edit">
        <img src="/icons/edit.png" alt="edit" height="40px">
        </a>
      </p>
      <form action="/transactions/<%= transaction.id %>/delete" method="post">
        <button type="submit" style="border: 0; background: transparent">
        <img src="/icons/delete.png" height="40px" alt="submit">
        </button>
      </form>
    </div>
      <hr />

    <% end %>

  <% else %>

    <p>No transactions to display</p>

  <% end %>

  <p class="manage-bttns"><a href="/transactions">Back to transactions</a></p>
</main>
