<header>
  <h2><%= @name %></h2>
  <p>Total spent: £<%="%.2f" % @spent %> Amount remaining: £<%="%.2f" % @remaining %></p>
</header>

<nav>
  <ul>
    <li>Order transactions by date
      <ul>
        <li><a href="/budgets/<%= @id %>/asc">Ascending</a></li>
        <li><a href="/budgets/<%= @id %>/desc">Descending</a></li>
      </ul>
    </li>
  </ul>
</nav>

<main>
  <p><a href="/transactions/new">Add new transaction</a></p>
  <hr />
  <% if @transactions.count() != 0 %>

    <% for transaction in @transactions %>
      <p> <%= transaction.display_time %> <%= transaction.display_date %> </p>
      <p><%= transaction.tag().tag_name %></p>
      <p><%= transaction.merchant().merchant_name %></p>
      <p>£<%= "%.2f" % transaction.amount %></p>
      <p><a href="/transactions/<%= transaction.id %>/edit">Edit</a></p>
      <form action="/transactions/<%= transaction.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
      <hr />

    <% end %>

  <% else %>

    <p>No transactions to diplay</p>

  <% end %>

  <p><a href="/transactions">Back to transactions</a></p>
</main>
