<header>
  <h2><%= @name %></h2>
</header>

<main>
  <p>Budget amount: £<%="%.2f" % @amount %></p>
  <p>Amount spent: £<%="%.2f" % @spent %></p>
  <p>Amount remaining: £<%="%.2f" % @remaining %></p>

  <hr />

  <% if @transactions.count() != 0 %>

  <p><a href="/budgets/<%= @id %>/asc">Ascending</a></p>
  <p><a href="/budgets/<%= @id %>/desc">Descending</a></p>

  <div class="filtered-transactions header">
    <p class="item">Time</p>
    <p class="item">Date</p>
    <p class="item">Merchant</p>
    <p class="item">Tag</p>
    <p class="item">Amount</p>
    <p class="item">Edit</p>
    <p class="item">Delete</p>
  </div>

    <% for transaction in @transactions %>
    <div class="filtered-transactions">
      <p class="item"><%= transaction.display_time %></p>
      <p class="item"><%= transaction.display_date %></p>
      <p class="item"><%= transaction.merchant().merchant_name %></p>
      <p class="item"><%= transaction.tag().tag_name %></p>
      <p class="item">£<%= "%.2f" % transaction.amount %></p>
      <p><a href="/transactions/<%= transaction.id %>/edit">Edit</a></p>
      <form action="/transactions/<%= transaction.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </div>
      <hr />

    <% end %>

  <% else %>

    <p>No transactions to display</p>

  <% end %>

  <p><a href="/transactions">Back to transactions</a></p>
</main>
